#tab {
    display:flex;
    justify-content: center;
    background-color:#ff2f2b;
}
button {
    background-color: inherit;
    float: left;
    border: none;
    padding: 14px 16px;
}
button:hover{
    background-color: #ddd;
}
button.active{
    background-color: #ccc;
}
