body{
    background-color: #ff2f2b;
}
#tab {
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
button {
    background-color: inherit;
    float: left;
    border: none;
    padding: 14px 16px;
}
button:hover{
    background-color: #ddd;
}
button.active{
    background-color: #ccc;
}